[nosetests]
processes = 4
verbosity = 2

[coverage:run]
branch = True
concurrency = multiprocessing
parallel = True
source =
	backend/apps_dir/interview_calendar
	backend/utilities
omit=
	backend/apps_dir/interview_calendar/apps.py
	backend/app_dir/interview_calendar/tests/*
    *__init__.py
    backend/apps_dir/interview_calendar/admin.py
    */migrations/*
    */management/*
    */tests/*
    */frontend/*

[report]
precision = 1
show_missing = True
ignore_errors = True
